<strong>Olá, {{ student_name }}</strong>
<p>Você recebeu uma mensagem de GymPoint:</p>
<p>
    <strong>Sua Pergunta: {{question}} </strong> <br/>
    <strong>Resposta da academia: </strong> {{answer}} <br/>
</p>
